
<mat-toolbar color="primary" class="navbar">
  <!-- <div>
    <span class="span1">Attendance</span>
    <span class="span2">Assign Inventory</span>
    <span class="span3">Inventory Details</span>
    <span class="span4">Inventory out Time</span>
    <span class="span5">Inventory In Time</span>
  </div> -->
  <div class="example-button-row">
    <a mat-button routerLink="/attendance" class="span1">Attendance</a>
    <a mat-button routerLink="/inventory_assign" class="span2">Assign Inventory</a>
    <a mat-button routerLink="/inventory_details" class="span3">Inventory Details</a>
    <a mat-button routerLink="/inventory_out" class="span4">Inventory out Time</a>
    <a mat-button routerLink="/inventory_in" class="span5">Inventory In Time</a>
  </div>
  <a mat-button routerLink="/" class="span7">Logout</a>
</mat-toolbar>
