<app-header></app-header>
<mat-card class="card">
  <h1 class="mat-display-1 title">Update Assigned Inventory</h1>
    <form class="example-form">
      <mat-form-field appearance="outline" class="input_field">
        <mat-label>EPF No</mat-label>
        <input matInput placeholder="EPF No" value="31582">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input_field">
        <mat-label>Tool Name</mat-label>
        <mat-select >
          <mat-option value="one">Scissor</mat-option>
          <mat-option value="two">Trimmer</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="input_field">
        <mat-label>Employee Name</mat-label>
        <input matInput placeholder="Employee Name" value="Dilan Perera">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input_field">
        <mat-label>Tool No</mat-label>
        <input matInput placeholder="Tool No" value="BSC - 01">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="input_field">
        <mat-label>Section</mat-label>
        <mat-select>
          <mat-option value="one">Bundling</mat-option>
          <mat-option value="two">Lace</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="input_field">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"  value="03/04/2022">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </form>
  <button mat-raised-button color="primary" class="button" routerLink="/inventory_details">Update</button>
</mat-card>









